streamlit
python-dotenv

chromadb
sentence-transformers
torch
torchvision

google-genai

langchain
langchain-google-genai
langchain-openai
langchain-ollama
langchain-chroma
pymupdf==1.28.2
pytesseract==0.3.13
